nav.menu{
    background-color: yellow;
    width: 100px;
    text-align: center;
    color: steelblue;
    font-size: 1.4rem;
    line-height: 2.5rem;
    cursor: pointer;
}

h1.title{
    color: purple;
    text-align: center;
}

nav.menu div.active{
    background-color: aqua;
    color: violet;
}